/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 12pt;
}
span.rvts7
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 12pt;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 12pt;
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 font-size: 12pt;
 color: #003366;
 text-decoration: none;
 border-bottom: dashed 1px;
}
a.rvts11:hover { color: #003366; border-bottom: dashed 1px #003366; }
span.rvts12
{
 font-size: 16pt;
 font-weight: bold;
 color: #333399;
}
a.rvts13, span.rvts13
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 13pt;
 font-weight: bold;
 color: #008000;
}
span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts16, span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #993300;
}
span.rvts18
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts19
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #d2d2d2;
}
span.rvts21
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts22
{
 font-size: 12pt;
}
span.rvts23
{
 font-size: 12pt;
 font-style: italic;
}
a.rvts24, span.rvts24
{
 font-size: 12pt;
 color: #003366;
 text-decoration: none;
 border-bottom: dashed 1px;
}
a.rvts24:hover { color: #003366; border-bottom: dashed 1px #003366; }
a.rvts25, span.rvts25
{
 font-size: 12pt;
 font-style: italic;
 color: #008000;
 text-decoration: none;
}
a.rvts25:hover { text-decoration: none; border-bottom: solid 1px #00ff00; }
a.rvts26, span.rvts26
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #d2d2d2;
}
span.rvts28
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts29
{
 font-size: 12pt;
 font-weight: bold;
}
a.rvts30, span.rvts30
{
 font-size: 12pt;
 font-style: italic;
 color: #008000;
 text-decoration: none;
}
a.rvts30:hover { text-decoration: none; border-bottom: solid 1px #00ff00; }
span.rvts31
{
 font-size: 12pt;
}
span.rvts32
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts33
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts34
{
 font-size: 12pt;
 font-style: italic;
 color: #008000;
}
span.rvts35
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts36
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts37
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts38
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts39
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts40, span.rvts40
{
 font-size: 13pt;
 font-weight: bold;
 color: #003366;
 text-decoration: none;
 border-bottom: dashed 1px;
}
a.rvts40:hover { color: #003366; border-bottom: dashed 1px #003366; }
a.rvts41, span.rvts41
{
 font-size: 16pt;
 font-weight: bold;
 color: #003366;
 text-decoration: none;
 border-bottom: dashed 1px;
}
a.rvts41:hover { color: #003366; border-bottom: dashed 1px #003366; }
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
}
.rvps9
{
 border-color: #339966;
 border-style: solid;
 border-width: 6px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 background: #e6e6e6;
 padding: 0px 8px 0px 2px;
 margin: 0px 6px 0px 22px;
}
.rvps10
{
}
.rvps11
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 4px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 0px 0px 0px 22px;
 margin: 3px 0px 3px 0px;
}
.rvps12
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 background: #e6e6e6;
 padding: 4px 4px 4px 4px;
 margin: 3px 19px 3px 19px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps14
{
 margin: 0px 0px 0px 24px;
}
.rvps15
{
 margin: 0px 0px 0px 48px;
}
.rvps16
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
